<link rel="stylesheet" href="/css/template/footer.css">
<footer class="site-footer">
    <div class="footer-content">
      <p class="footer-text">© 2024 Zoo School Project. All rights reserved.</p>
      <p class="footer-text">Explore, Learn, Protect – Dedicated to Wildlife Education and Conservation.</p>
      <div class="footer-links">
        <a href="#" class="footer-link">Privacy Policy</a>
        <a href="#" class="footer-link">Terms of Use</a>
        <a href="/contact" class="footer-link">Contact Us</a>
      </div>
      <div class="social-media">
        <a href="http://www.facebook.com/naturzoo" class="social-link">Facebook</a>
        <a href="http://www.youtube.com/@NaturZooYoutube" class="social-link">Youtube</a>
        <a href="http://www.instagram.com/naturzoo" class="social-link">Instagram</a>
      </div>
    </div>
  </footer>