<link rel="stylesheet" href="../css/template/header.css">
<header class="site-header">
    <div class="header-container">
      <!-- Logo -->
      <div class="logo">
        <a href="/">
          <img src="../bilder/logo.svg" alt="Zoo School Project Logo">
        </a>
      </div>
  
      <!-- Navigation Menu -->
      <nav class="main-nav">
        <ul>
          <li><a href="/" class="nav-link">Home</a></li>
          <li><a href="/about" class="nav-link">Über uns</a></li>
          <li><a href="/animals" class="nav-link">Tiere</a></li>
          <li><a href="#" class="nav-link">Education</a></li>
          <li><a href="/contact" class="nav-link">Contact</a></li>
          <li><a href="/admin-panel" class="nav-link">Login</a></li>
        </ul>
      </nav>
    </div>
  </header>