<link rel="stylesheet" href="../../../css/template/create/createTier.css">
</head>
<body>

    <!-- Main Content -->
    <div class="information-input">
        <form id="create-tier-form" method="post">
            <!-- Name -->
            <label for="Name">Name:</label>
            <input type="text" name="Name" id="Name" required>

            <!-- Geburtsdatum -->
            <label for="Geburtsdatum">Geburtstag:</label>
            <input type="date" name="Geburtsdatum" id="Geburtsdatum" required>

            <!-- Futter -->
            <label>Futter:</label>
            <div id="Futter" class="futter-options"></div>

            <!-- Gebäude -->
            <label for="Gebaude">Gebäude:</label>
            <select name="Gebaude" id="Gebaude" required></select>

            <!-- Submit Button -->
            <button type="submit">Tier erstellen</button>
        </form>
    </div>
</body>
    <script type="module">
        import { getElements } from '../../../script/read.js';
        import { setup_create_tier_form, create_and_send_tier } from '../../../script/template/create/create-tier.js';
        await setup_create_tier_form();
        await create_and_send_tier();


    </script>

