<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div class="gebaude-input">
  <form id="create-gebaude-form" method="post">
    <!-- Name -->
    <label for="Name">Name:</label>
    <input type="text" name="Name" id="Name" required>

    <label for="Revier">Revier:</label>
    <select name="Revier" id="Revier" required></select>

    <label>Fütterungszeit:</label>
    <div id="Fuetterungszeit" class="futterungszeit-options"></div>

    <!-- Submit Button -->
    <button type="submit">Gebäude erstellen</button>
  </form>
</div>
</body>
</html>

<script type="module">
  import {setup_create_gebaude_form, create_and_send_gebaude} from "../../../script/template/create/gebaude.js";

  await setup_create_gebaude_form()
  await create_and_send_gebaude()



</script>