<!doctype html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="pfleger-input">
    <form id="create-pfleger-form" method="post">
        <!-- Name -->
        <label for="PName">Name:</label>
        <input type="text" name="Name" id="PName" required>

        <!-- Telefonnummer -->
        <label for="PTelefonnummer">Telefonnummer:</label>
        <input type="text" name="Telefonnummer" id="PTelefonnummer"  required>

        <!-- Adresse -->
        <label for="PAdresse">Adresse:</label>
        <input type="text" name="Adresse" id="PAdresse" required>

        <!-- Revier-->
        <label for="PRevier">Revier:</label>
        <select name="Revier" id="PRevier" required></select>

        <!--Ort-->
        <label for="Ort">Ort:</label>
        <select name="Ort" id="Ort" required></select>

        <!-- Submit Button -->
        <button type="submit">Pfleger erstellen</button>
    </form>
</div>
</body>
</html>

<script type="module">
    import {setup_create_pfleger_form} from "../../../script/template/create/create-pfleger.js";
    import {create_and_send_pfleger} from "../../../script/template/create/create-pfleger.js";

    await setup_create_pfleger_form()

    await create_and_send_pfleger()
</script>