<body>
    <div id="gebaude-container" class="container">
        <!-- Gebäude Name at the Top -->
        <h1 id="gehege-name">{{.Gebaude.Name}}</h1>

        <!-- Tiere and Fütterungszeiten Side by Side -->
        <div class="content-container">
            <div>
                <h2>Tiere</h2>
                <ul id="tier-list">
                    {{ range .Tierart }}
                    <li>{{ .Name }}</li>
                    {{ end }}
                </ul>
            </div>
            <div>
                <h2>Fütterungs <br>
                    -   Zeiten</h2>
                <ul id="fuetterungszeit-list">
                    {{ range .Zeit }}
                    <li>{{ .Uhrzeit }}</li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
</body>