<div id="revier-container" class="container">
    <!-- Header -->
    <div class="header">
        <h1 id="revier-name">{{.Name}}</h1>
    </div>
    <!-- Gebaude Container (Dynamically Inserted) -->
    <div class="gebaude-container">
        <!-- Gebaude HTML will be inserted here -->
    </div>
    <!-- Image Container -->
    <div class="image-container">
        <a href="http://linkEinfügen">
            <img src="./../bilder/revier/{{.ID}}.jpg" alt="Revier Image">
        </a>
    </div>
</div>
