<div class="table-container{{.Tier.ID}}">
    <table class="data-table">
        <tbody>
        <tr>
            <td><span class="grid-header">ID:</span>{{.Tier.ID}}</td>
            <td class="name-cell"><span class="grid-header">Name:</span>{{.Tier.Name}}</td>
            <td><span class="grid-header">Art:</span>{{.Tier.Tierart.Name}}</td>
            <td><span class="grid-header">Geburtstag:</span>{{.Tier.Geburtsdatum}}</td>
            <td><span class="grid-header">Gebaude:</span>{{.Tier.Gebaude.Name}}</td>
            <td>
                <span class="grid-header">Food:</span>
                <ul id="futter-liste{{.Tier.ID}}" class="food-list">
                    {{ range .Futter }}
                    <li value="{{.ID}}">{{.Name}}</li>
                    {{ end }}
                </ul>
            </td>
            <td>
                <button onclick="window.location='/server/template/update/tier?id={{.Tier.ID}}' ;" class="update-button">Update</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>


