<div class="table-container{{.ID}}">
    <table class="data-table">
        <tbody>
        <tr>
            <td><span class="grid-header">ID:</span>{{.ID}}</td>
            <td class="name-cell"><span class="grid-header">Name:</span>{{.Name}}</td>
            <td><span class="grid-header">Species:</span>{{.Tierart.Name}}</td>
            <td><span class="grid-header">Birthdate:</span>{{.Geburtsdatum}}</td>
            <td><span class="grid-header">Building:</span>{{.Gebaude.Name}}</td>
            <td>
                <span class="grid-header">Food:</span>
                <ul id="futter-liste{{.ID}}" class="food-list">

                </ul>
            </td>
            <td>
                <button onclick="window.location='/server/template/update/tier?id={{.ID}}' ;" class="update-button">Update</button>
            </td>
        </tr>
        <!-- Additional rows would go here -->
        </tbody>
    </table>
</div>


